* {
  font-family: "FantasqueSansMono Nerd Font", monospace;
  font-size: 17px;
  min-height: 0;
}

#waybar {
  background: rgba(0, 0, 0, 0.25);
  color: #e5e5e5;
  border-radius: 12px;
  backdrop-filter: blur(10px);
  padding: 4px 12px;
  margin: 6px;
}

#workspaces button {
  color: #bbbbbb;
  padding: 0 10px;
  background-color: transparent;
  border: none;
  border-radius: 1rem;
  transition: background-color 0.2s ease;
}

#workspaces button.active {
  color: #d6a6c9;
  background-color: rgba(214, 166, 201, 0.3);
}

#workspaces button:hover {
  background-color: #242424;
}

#tray {
  padding-left: 4px;
  border-radius: 1rem;
  background-color: rgba(198, 184, 137, 0.3);
  color: #000;
  margin-right: 8px;
}

#custom-music {
  color: #b199c9;
  border-radius: 1rem 0 0 1rem;
  margin-left: 1rem;
  background-color: rgba(177, 153, 201, 0.3);
  padding: 0.3rem 0.8rem;
}

#memory {
  color: #6aaec2;
  margin-right: 4px;
}

#cpu {
  color: #d6a673;
  margin-right: 4px;
}

#network {
  color: #c6b889;
  margin-right: 8px;
}

#pulseaudio {
  color: #9fa7d4;
}

#custom-powermenu {
  color: #c07b8a;
}

#clock {
  color: #ffffffe9;
  border-radius: 0 1rem 1rem 0;
  background-color: rgba(137, 206, 244, 0.25);
  padding: 0.3rem 0.8rem;
  margin-right: 8px;
}
